body {
  font-family: system-ui;
  background-color: #000000;
  color: white;
}
.dark-mode {
  background-color: #ffffff;
  color: black;
}
h1 {text-align: center;}
     .text {
  color:white;
  font-family:'Times New Roman';
  font-size:12pt;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff1100;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #363636;
}

.button:hover {background-color: #9e0b00}

.button:active {
  background-color: #9e0b00;
  box-shadow: 0 5px #363636;
  transform: translateY(4px);
}
.box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation: mymove 2s infinite;
}
@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;left: 0px;}
  50%  {top: 200px;left: 200px}
  75%  {top: 0px;left: 200px}
  100% {top: 0px;left: 0px}
}
